<!-- HERENCIA ENTRE HTMLS-->
{% extends "AppMusicy\padre.html" %}

{% load static %}

<!-- TITULO-->
{% block titulo %}
Albumes
{% endblock %}

<!-- USUARIO-->
{% block usuario %}

{% endblock %}

<!-- DESCRIPCIÓN-->
{% block descripcion %}
Aquí puedes añadir albumes, a quién corresponden y sus canciones.
{% endblock %}

<!-- BUSCADOR-->
{% block buscador %}
    
<form action="" method="POST"> {% csrf_token %}

    <table>

        {{form_albums.as_table}}

    </table>

    <input type="submit" value="Confirmar">

    <br></br>

    ¿No encuentras algo?
    <br></br>
    <button>
        <a href="/AppMusicy/artistCreate/">Añadir artista</a>
    </button>
    <button>
        <a href="/AppMusicy/songCreate/">Añadir canción</a>
    </button>

</form>

{% endblock %}