<!-- HERENCIA ENTRE HTMLS-->
{% extends "AppMusicy\padre.html" %}

{% load static %}

<!-- TITULO-->
{% block titulo %}
Artistas
{% endblock %}

<!-- USUARIO-->
{% block usuario %}

{% endblock %}

<!-- DESCRIPCIÓN-->
{% block descripcion %}
Aquí puedes añadir artistas, sus álbumes y canciones.
{% endblock %}

<!-- BUSCADOR-->
{% block buscador %}
    
<form action="" method="POST"> {% csrf_token %}

    <table>

        {{form_artists.as_table}}

    </table>

    <input type="submit" value="Confirmar">

</form>

{% endblock %}