<!-- HERENCIA ENTRE HTMLS-->
{% extends "AppMusicy\padre.html" %}

{% load static %}

<!-- TITULO-->
{% block titulo %}
Géneros.
{% endblock %}

<!-- USUARIO-->
{% block usuario %}

{% endblock %}

<!-- DESCRIPCIÓN-->
{% block descripcion %}
Aquí puedes añadir géneros musicales.
{% endblock %}

<!-- BUSCADOR-->
{% block buscador %}
    
<form action="" method="POST"> {% csrf_token %}

    <table>

        {{form_genres.as_table}}

    </table>

    <input type="submit" value="Confirmar">

</form>

{% endblock %}