<!-- HERENCIA ENTRE HTMLS-->
{% extends "AppMusicy\padre.html" %}

{% load static %}

<!-- TITULO-->
{% block titulo %}
Géneros.
{% endblock %}

<!-- USUARIO-->
{% block usuario %}

{% endblock %}

<!-- DESCRIPCIÓN-->
{% block descripcion %}
Aquí puedes añadir géneros musicales.
{% endblock %}

<!-- BUSCADOR-->
{% block buscador %}
    
<form action="" method="POST"> {% csrf_token %}

    <table>

        {{form_genres.as_table}}

    </table>

    <input type="submit" value="Confirmar">

</form>

{% endblock %}

<!-- TELEFONITO-->
{% block fono %}

<div class="col-lg-6">
    <!-- Masthead device mockup feature-->
    <div class="masthead-device-mockup">
        <div class="device-wrapper">
            <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                <div class="screen bg-black">
                    <!-- PUT CONTENTS HERE:-->
                    <!-- * * This can be a video, image, or just about anything else.-->
                    <!-- * * Set the max width of your media to 100% and the height to-->
                    <!-- * * 100% like the demo example below.-->
                    <video muted="muted" autoplay="" loop="" style="max-width: 100%; height: 100%"><source src="{% static 'AppMusicy/assets/img/MobilMusicy2.mp4' %}" type="video/mp4" /></video>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}