<!-- HERENCIA ENTRE HTMLS-->
{% extends "AppMusicy\padre.html" %}

{% load static %}

<!-- TITULO-->
{% block titulo %}
Canciones
{% endblock %}

<!-- USUARIO-->
{% block usuario %}

{% endblock %}

<!-- DESCRIPCIÓN-->
{% block descripcion %}
Aquí puedes añadir canciones, con sus respectivas letras, traducciones e información.
{% endblock %}

<!-- BUSCADOR-->
{% block buscador %}
    
<form action="" method="POST"> {% csrf_token %}

    <table>

        {{form_songs.as_table}}

    </table>

    <input type="submit" value="Confirmar">

    <br></br>

    ¿No encuentras algo?
    <br></br>
    <button>
        <a href="/AppMusicy/artistCreate/">Añadir artista</a>
    </button>
    <button>
        <a href="/AppMusicy/albumCreate/">Añadir álbum</a>
    </button>
    <button>
        <a href="/AppMusicy/genreCreate/">Añadir género</a>
    </button>

</form>

{% endblock %}