<!-- HERENCIA ENTRE HTMLS-->
{% extends "AppMusicy\padre.html" %}

{% load static %}

<!-- TITULO-->
{% block titulo %}
Entendiendo la música del mundo.
{% endblock %}

<!-- DESCRIPCIÓN-->
{% block descripcion %}
Miles de canciones alrededor del globo, traducidas en distintos idiomas. ¡Únete al esfuerzo!
{% endblock %}

<!-- BUSCADOR-->
{% block buscador %}

<form action="" method="POST">

    {% csrf_token %}

        {{ form.as_p }}
    
        <button type="submit">Inciar sesion</button>

</form>

{% endblock %}