<!-- HERENCIA ENTRE HTMLS-->
{% extends "AppMusicy\padre.html" %}

{% load static %}

<!-- TITULO-->
{% block titulo %}
Artistas
{% endblock %}

<!-- DESCRIPCIÓN-->
{% block descripcion %}
Los expresores de arte.
{% endblock %}

<!-- CATEGORIAS-->
{% block categorias %}

<ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
    <li class="nav-item"><a class="nav-link me-lg-3" href="{% url 'Canciones'  %}">Canciones</a></li>
    <li class="nav-item"><a class="nav-link me-lg-3" href="{% url 'Artistas' %}">Artistas</a></li>
    <li class="nav-item"><a class="nav-link me-lg-3" href="{% url 'Albumes' %}">Albumes</a></li>
    <li class="nav-item"><a class="nav-link me-lg-3" href="{% url 'Géneros' %}">Géneros</a></li>
</ul>

{% endblock %}

<!-- BUSCADOR-->
{% block buscador %}
<form action="/AppMusicy/artistRead/" method="GET"> {% csrf_token %}

    <input type="text" name="name" id="name">
    <input type="submit" value="Buscar">
    <button>
        <a href="/AppMusicy/artistCreate/">¿Añadir?</a>
    </button>
    
    <br>

</form>

<p>
    Resultados para: {{name}}
</p>
{% for artista in artist %}
<p>
    > {{artista.name}}
    <button>
        <a href="{% url 'U_Artistas' artista.name name %}"> Editar</a>
    </button>
    <button>
        <a href="{% url 'D_Artistas' artista.name name %}"> Eliminar</a>
    </button>
</p>
{% endfor %}


{% endblock %}