<!-- HERENCIA ENTRE HTMLS-->
{% extends "AppMusicy\padre.html" %}

{% load static %}

<!-- TITULO-->
{% block titulo %}
Canciones
{% endblock %}

<!-- DESCRIPCIÓN-->
{% block descripcion %}
Una de las expresiones del arte. ¿Qué buscas?
{% endblock %}

<!-- BUSCADOR-->
{% block buscador %}
<form action="/AppMusicy/songRead/" method="GET"> {% csrf_token %}

    <input type="text" name="title" id="title">
    <input type="submit" value="Buscar">
    <button>
        <a href="/AppMusicy/songCreate/">¿Añadir?</a>
    </button>
    
    <br>

</form>

<p>
Resultados para: {{title}}
</p>


{% for cancion in song %}
<p>
    <a href="{% url 'S_Canción' cancion.title %}">
    > {{cancion.artist}} - {{cancion.title}} ({{cancion.year}})
    </a>
    <button>
        <a href="{% url 'U_Canciones' cancion.title title %}"> Editar</a>
    </button>
    <button>
        <a href="{% url 'D_Canciones' cancion.title title %}"> Eliminar</a>
    </button>
</p>
{% endfor %}

{% endblock %}

<!-- TELEFONITO-->
{% block fono %}

<div class="col-lg-6">
    <!-- Masthead device mockup feature-->
    <div class="masthead-device-mockup">
        <div class="device-wrapper">
            <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                <div class="screen bg-black">
                    <!-- PUT CONTENTS HERE:-->
                    <!-- * * This can be a video, image, or just about anything else.-->
                    <!-- * * Set the max width of your media to 100% and the height to-->
                    <!-- * * 100% like the demo example below.-->
                    <video muted="muted" autoplay="" loop="" style="max-width: 100%; height: 100%"><source src="{% static 'AppMusicy/assets/img/MobilMusicy2.mp4' %}" type="video/mp4" /></video>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}